<div class="row" ng-if="::!ctrl.currentGroup">
  <div class="col-xs-12 col-sm-8 col-lg-9">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-left"> dngearsim build recovery<br />
      <small>sorry but I had to change the site to https so you may need to reimport these builds</small>
      </h3>
      <p>
         Click the builds you want to keep to export them to files.
         Then use <a href="https://spacem.github.io/dngearsim/import">the new import screen</a> to bring them in to the https version of the site.
      </p>
    </div>
  </div>
  <div id="saved-group" class="row" ng-if="::ctrl.builds" ng-repeat="b in ::ctrl.builds track by $index">
    
    <div class="col-xs-12 group-header">
    <button class="btn btn-link btn-block group-header-btn" dngearsim-export-action build-name="b.name" build="b.build">
      <dngearsim-build-summary build-name="::b.name" build="::b.build">
      </dngearsim-build-summary>
    </button>
    </div>
    
  </div>
  </div>
</div>